In [1]:
from __future__ import print_function
import os
import zipfile
import plaidml.keras
plaidml.keras.install_backend()
import keras

In [2]:
import numpy as np
import pandas as pd
from collections import Counter
from datetime import datetime

In [3]:
dataRaw = pd.read_csv("Dataset/train.csv")

In [4]:
dataRaw.head(100)

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
95,ANSL_70120,2014-06-24 00:00:00,2018-01-19 18:19:00,1.0,Tan,0.21,31.52,0,7,0.0,2
96,ANSL_71504,2016-07-04 00:00:00,2016-11-25 18:46:00,0.0,Blue Tabby,0.11,42.76,0,1,1.0,1
97,ANSL_71993,2012-07-21 00:00:00,2017-08-05 17:34:00,0.0,Chocolate,0.84,22.98,0,7,1.0,2
98,ANSL_69762,2013-12-27 00:00:00,2018-10-05 15:59:00,0.0,Black,0.09,8.86,0,1,1.0,1
99,ANSL_59393,2018-07-19 00:00:00,2018-12-23 19:15:00,1.0,Orange Tabby,0.06,15.46,0,1,0.0,1

In [11]:
a=AugData.count(level="height")

TypeError: Can only count levels on hierarchical index.

In [10]:
a

pet_id            18834
issue_date        18834
listing_date      18834
condition         17357
color_type        18834
length(m)         18834
height(cm)        18834
X1                18834
X2                18834
breed_category    18834
pet_category      18834
dtype: int64

In [5]:
AugData = dataRaw

In [12]:
AugData["sample_weight"] = 1/118834

In [15]:
AugData

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category,sample_weight
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1,0.000008
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2,0.000008
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,1.0,Brown,0.15,40.90,15,4,2.0,4,0.000008
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2,0.000008
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1,0.000008
...,...,...,...,...,...,...,...,...,...,...,...,...
18829,ANSL_51738,2017-01-26 00:00:00,2018-03-09 15:35:00,2.0,Tricolor,0.44,27.36,0,1,0.0,2,0.000008
18830,ANSL_59900,2016-06-18 00:00:00,2017-07-09 08:37:00,1.0,Brown,0.73,14.25,15,4,2.0,4,0.000008
18831,ANSL_53210,2010-07-21 00:00:00,2018-08-22 14:27:00,0.0,Calico Point,0.99,28.13,13,9,1.0,1,0.000008
18832,ANSL_63468,2017-05-12 00:00:00,2018-02-08 14:05:00,0.0,Tan,0.55,44.82,13,9,1.0,2,0.000008
18833,ANSL_73558,2011-12-13 00:00:00,2018-10-26 14:18:00,0.0,Brown,0.86,37.40,0,1,1.0,2,0.000008

In [14]:
meanOfCondition=(dataRaw["condition"]).mean()
dataRaw["condition"].fillna(np.around(meanOfCondition),inplace=True)

In [16]:
dataRaw

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category,sample_weight
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1,0.000008
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2,0.000008
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,1.0,Brown,0.15,40.90,15,4,2.0,4,0.000008
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2,0.000008
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1,0.000008
...,...,...,...,...,...,...,...,...,...,...,...,...
18829,ANSL_51738,2017-01-26 00:00:00,2018-03-09 15:35:00,2.0,Tricolor,0.44,27.36,0,1,0.0,2,0.000008
18830,ANSL_59900,2016-06-18 00:00:00,2017-07-09 08:37:00,1.0,Brown,0.73,14.25,15,4,2.0,4,0.000008
18831,ANSL_53210,2010-07-21 00:00:00,2018-08-22 14:27:00,0.0,Calico Point,0.99,28.13,13,9,1.0,1,0.000008
18832,ANSL_63468,2017-05-12 00:00:00,2018-02-08 14:05:00,0.0,Tan,0.55,44.82,13,9,1.0,2,0.000008
18833,ANSL_73558,2011-12-13 00:00:00,2018-10-26 14:18:00,0.0,Brown,0.86,37.40,0,1,1.0,2,0.000008